<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>İştehr - Tanıtım Demo</title>        
        <!-- Bootsrapt -->
        <link rel="stylesheet" href="assets/plugins/css/bootstrap.min.css">
        <!-- owl -->
        <link rel="stylesheet" href="assets/plugins/owlcarousel/owl.carousel.min.css">
        <link rel="stylesheet" href="assets/plugins/owlcarousel/owl.theme.default.min.css">
        <!-- Aos -->
        <link rel="stylesheet" href="assets/plugins/aos/aos.css">
        <!-- İcon -->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <!-- jquery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- CSS -->
        <link rel="stylesheet" href="assets/css/style.css">
        <!-- Angularjs -->
        <script src="assets/plugins/js/angular.min.js"></script>
    </head>
    <body ng-app="App" ng-controller="myController" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
        <div class="scroll-top" id="scroll-top">^</div>

        <div class="istehr-begin">
            <!-- Header navbar -->
            <div class="heading-page">
                <header class="site-header header-landing">
                    <div class="container">
                        <div class="row">
                            <div class="main-header aos-init aos-animate" data-aos="fade-down" data-aos-duration="2000">
                                <div class="menu-header">
                                    <div class="logo"><img src="assets/css/img/istehr-logo.png" alt="logo"></div>
                                    <div class="menu">
                                        <ul class="main-nav">
                                            <li><a href="#" class="scrollTo">Anasayfa</a></li>
                                            <li><a href="#neden" class="scrollTo">Neden İşteHR</a></li>
                                            <li><a href="#moduller" class="scrollTo">Modüllerimiz</a></li>
                                            <li><a href="#hizmet" class="scrollTo">Hizmetlerimiz</a></li>
                                            <li><a href="#referans" class="scrollTo">Referanslar</a></li>
                                            <!-- <li><a href="#blog" class="scrollTo">Blog</a></li> -->
                                            <li><a href="#contactus" class="scrollTo">İletişim</a></li>
                                        </ul>
                                    </div>
                                    <div class="try-free-link">
                                        <a href="index.html" class="btn btn-primary language-button" role="button">Eng</a>
                                        <a href="https://cloud1.istehr.com/Account/Register" target="_blank" class="btn btn-primary right-header-button" role="button">Üye Ol</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
            </div>

            <!-- Page Content -->
            <div class="page-content aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000">
                <div class="container">
                    <h2>İstediğiniz Zaman 
                        <span>İstediğiniz Yerden Personel Takibi</span>
                    </h2>
                    <p>Tüm çalışanlarınızı tek bir yerden yönetin.</p>
                    <a href="#contactus" class="btn btn-primary starting-free scrollTo" role="button">
                        Şimdi Deneyin
                    </a>
                </div>
            </div>

            <!-- Admin Panel -->
            <div class="admin-panel">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-10 col-sm-10 col-9 aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000">
                            <div class="admin-slider">
                                <div class="owl-carousel my-carousel bannercar owl-loaded owl-drag">
                                    <div class="owl-stage-outer">
                                        <div class="owl-stage">
                                            <div class="owl-item cloned">
                                                <div class="my-carousel-item"><img src="assets/css/img/slider.png" alt=""></div>
                                            </div>
                                            <div class="owl-item cloned">
                                                <div class="my-carousel-item"><img src="assets/css/img/slider-01.png" alt=""></div>
                                            </div>
                                            <div class="owl-item cloned">
                                                <div class="my-carousel-item"><img src="assets/css/img/slider-02.png" alt=""></div>
                                            </div>
                                            <div class="owl-item cloned">
                                                <div class="my-carousel-item"><img src="assets/css/img/slider-03.png" alt=""></div>
                                            </div>
                                            <div class="owl-item active">
                                                <div class="my-carousel-item"><img src="assets/css/img/slider.png" alt=""></div>
                                            </div>
                                            <div class="owl-item">
                                                <div class="my-carousel-item"><img src="assets/css/img/slider-01.png" alt=""></div>
                                            </div>
                                            <div class="owl-item">
                                                <div class="my-carousel-item"><img src="assets/css/img/slider-02.png" alt=""></div>
                                            </div>
                                            <div class="owl-item">
                                                <div class="my-carousel-item"><img src="assets/css/img/slider-03.png" alt=""></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="owl-nav">
                                        <div class="owl-prev"><i class='bx bx-left-arrow-alt'></i></div>
                                        <div class="owl-next"><i class='bx bx-right-arrow-alt'></i></div>
                                    </div> -->
                                    <div class="owl-dots"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>  <!-- istehr-begin end -->

        <div class="istehr-choosing" id="neden">
            <div class="container">
                <div class="choosing-content-section" >
                    <div class="row aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
                        <div class="commom-title d-flex justify-content-center">
                            <h2>Neden Tercih Etmelisiniz</h2>
                        </div>
                    </div>
                    <div class="istehr-features justify-content-center aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
                        <h2 class="common-content">
                            İştehr Size
                            <span> En İyi Modülleri Sunar</span>
                        </h2>
                    </div>
                    <div class="features-detail aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
                        <p>İştehr, modern ve kullanıcı dostu arayüzü ile İK süreçlerinizi hızlı ve kolay bir şekilde yönetmenizi sağlar. 
                            Kullanıcı deneyimi odaklı tasarımı sayesinde İK yönetimini yeniden tanımlayın, daha fazla verim elde edin. 
                            Otomatikleştirilmiş işlemlerle zaman kazanın ve işlerinizi daha akıllıca yönetin!</p>
                    </div>
                    <div class="d-flex justify-content-around feature-list">
                        <div class="feature-left-main">
                            <div class="feature-left">
                                <div class="feature-left-content aos-init aos-animate" data-aos="fade-right" data-aos-duration="1000">
                                    <div class="feat-box">
                                        <div class="feat-icon bg-orange"><i class='bx bxs-user-account'></i></div>
                                    </div>
                                    <h4>Personel Giriş-Çıkış Takibi</h4>
                                    <p>Modern uygulamamız sayesinde personel giriş ve çıkışlarını QR kodlarıyla hızlı ve pratik bir şekilde takip edebilirsiniz.</p>
                                </div>
                                <div class="feature-left-content aos-init aos-animate" data-aos="fade-right" data-aos-duration="1000">
                                    <div class="feat-box">
                                        <div class="feat-icon bg-lightpink"><i class='bx bx-sitemap'></i></i></div>
                                    </div>
                                    <h4>Shift Yönetim Sistemi</h4>
                                    <p>Shift Yönetim Sistemi, haftalık çalışma çizelgesini oluşturmanıza ve detaylı raporları anında almanıza olanak sağlar.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-image-main">
                            <div class="featur-image aos-init aos-animate"  data-aos="fade-up" data-aos-duration="2000">
                                <img src="assets/css/img/modalBackgrond.png" alt="">
                            </div>
                        </div>
                        <div class="feature-right-main">
                            <div class="feature-right">
                                <div class="feature-right-content aos-init aos-animate" data-aos="fade-left" data-aos-duration="1000">
                                    <div class="feat-box">
                                        <div class="feat-icon bg-orange"><i class='bx bx-spreadsheet'></i></div>
                                    </div>
                                    <h4>İzin Takibi</h4>
                                    <p>Personeliniz, izinlerini hızlı ve etkili bir şekilde yönetin. Tüm onay süreçleri ve izin işlemlerini karmaşık değil, tek bir sistemde pratik bir şekilde yönetin.</p>
                                </div>
                                <div class="feature-right-content aos-init aos-animate" data-aos="fade-right" data-aos-duration="1000">
                                    <div class="feat-box">
                                        <div class="feat-icon bg-lightpink"><i class='bx bx-wallet' ></i></i></div>
                                    </div>
                                    <h4>Bordro Sistemi</h4>
                                    <p>Bordro Sistemi ile puantaj ve bordro işlemlerini kolaylıkla çözün. Resmi işlemleri online olarak hızlıca yönetin, zaman ve çaba tasarrufu sağlayın.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div> <!-- istehr-choosing end -->

        <div class="istehr-core-features aos-init aos-animate" id="moduller" data-aos="fade-up" data-aos-duration="2000">
            <div class="container">
                <div class="row">
                    <div class="core-feature-section col-12">
                        <div class="commom-title-bg-white d-flex justify-content-center">
                            <h2>Modüller</h2>
                        </div>
                        <h3>Kullanıcı Dostu Modüllerimiz</h3>
                        <p>Müşteri memnuniyetini en üst düzeye çıkarmak ve iş süreçlerini optimize etmek amacıyla tasarlanmış kullanıcı dostu modüllerimiz, size modern ve etkili bir deneyim sunuyor.</p>
                    </div>
                </div>
            </div>                    
        </div> <!-- istehr-core-features end -->      

        <div class="tabs list-detail aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000">
            <div class="container">
                <ul class="nav nav-pills features-list col-12 mb3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-home-tab" aria-selected="true" data-bs-toggle="pill" data-bs-target="#pills-client" type="button" role="tab" aria-controls="pills-client">
                            Bodro Yönetimi
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-employee" type="button" role="tab" aria-controls="pills-client">
                            İzin Yönetimi
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-project" type="button" role="tab" aria-controls="pills-client">
                            Shift Yönetimi
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-video" type="button" role="tab" aria-controls="pills-client">
                            Avans/Kesinti Yönetimi
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-audio" type="button" role="tab" aria-controls="pills-client">
                            Mesai İşlemleri
                        </button>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-social" type="button" role="tab" aria-controls="pills-client">
                                Şirket İçi Sosyal Medya
                            </button>
                        </li>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade active show" id="pills-client" role="tabpanel" aria-labelledby="pills-home-tab">
                        <img src="assets/css/img/core-slder-1-modified.png" alt="">
                    </div>
                    <div class="tab-pane fade" id="pills-employee" role="tabpanel" aria-labelledby="pills-home-tab">
                        <img src="assets/css/img/core-slider-3.png" alt="">
                    </div>
                    <div class="tab-pane fade" id="pills-project" role="tabpanel" aria-labelledby="pills-home-tab">
                        <img src="assets/css/img/core-slider-2-deneme.png" alt="">
                    </div>
                    <div class="tab-pane fade" id="pills-video" role="tabpanel" aria-labelledby="pills-home-tab">
                        <img src="assets/css/img/Core-Slider-4.png" alt="">
                    </div>
                    <div class="tab-pane fade" id="pills-audio" role="tabpanel" aria-labelledby="pills-home-tab">
                        <img src="assets/css/img/Core-Slider-5.png" alt="">
                    </div>
                    <div class="tab-pane fade" id="pills-social" role="tabpanel" aria-labelledby="pills-home-tab">
                        <img src="assets/css/img/Core-Slider-6.png" alt="">
                    </div>
                </div>
            </div>
        </div> <!-- Tabs end -->


        <div class="feature-list" id="hizmet">
            <div class="container">
                <div class="row">
                    <div class="col-12 aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000">
                        <div class="commom-title d-flex justify-content-center">
                            <h2>Hizmetler</h2>
                        </div>
                        <h3 class="common-content">Sizin için <span>Sağladığımız Hizmetlerimiz</span> </h3>
                        <p>Çeşitlilik ve kaliteyi bir araya getirerek, müşterilerimize sunduğumuz geniş yelpazede hizmetlerimizle hayatınızı kolaylaştırıyoruz.</p>
                    </div>

                    <div class="feature-sections">
                        <div class="row aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000">

                            <div class="col-lg-4 col-md-4 d-flex" ng-repeat="item in items">
                                <div class="management card flex-fill">
                                    <div class="card-body"
                                         ng-mouseenter="imageChange(item, true)"
                                         ng-mouseleave="imageChange(item, false)">
                                        <img ng-src="{{ item.currentImageSrc }}" alt="">
                                        <h4>{{ item.title }}</h4>
                                        <p>{{ item.description }}</p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>  <!-- Feature-list end -->

        <div class="istehr-pricing-detail" id="referans">
            <div class="container">
                <div class="row">
                    <div class="pricing-detail-section aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000">
                        <div class="commom-title d-flex justify-content-center">
                            <h2>Referanslar</h2>
                        </div>
                        <h3 class="common-content">İştehr'a Güvenen <span>Firmalar</span></h3>
                        <p>En iyi firmalarla, son teknoloji ürünlerini kullanıyoruz. Çünkü daha iyisini hakediyorsunuz.</p>
                    </div>

                    <div class="reference aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000">
                        <div class="row" style="margin-top: 30px;">
                            <div class="col-lg-3 col-sm-3 col-6" ng-repeat="item in reference">
                                <div class="reference-single">
                                    <img ng-src="assets/css/img/{{item}}-logo.jpg" alt="{{item}}-logo" loading="lazy">
                                </div>
                            </div>                            
                        </div>
                    </div>
                            </div>                       
                         </div>
                    </div>
                </div>
            </div>
        </div> <!-- istehr-pricing-detail end -->

        <div class="subscribe" id="contactus">
            <div class="container">
                <div class="row">
                    <div class="subcribe-content aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000">
                        <div class="commom-title-bg-white d-flex justify-content-center">
                            <h2>İletişim</h2>
                        </div>
                        <h3>Bilgi Formu</h3>
                        <p>İletişime geçmek ve bilgi almak için aşağıdaki formu doldurabilirsiniz.</p>
                        <form method="post">
                            <div class="input-group mb-3 email-address">
                                <span class="input-group-icon"><i class='bx bxs-envelope' ></i></span>
                                <input type="email" class="form-control" placeholder="E-posta adresinizi girin" aria-label="Recipient's username" aria-describedby="button-addon2">
                                <button class="subscribe-button" id="button-addon2">Gönder</button>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div> <!-- Subscribe end -->

        <footer class="footer">
            <div class="footer-content">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-12">
                            <div class="footer-logo"><img src="assets/css/img/istehr-logo.png" alt="logo"></div>
                            <div class="footer-info">
                                <p>İştehr, App Store ve Google Play'de!</p>
                                <div class="buttons">
                                    <a href="https://apps.apple.com/tr/app/iste-hr/id1661814128" target="_blank" class="btn button button-hollow icon-left"><i class='bx bxl-apple'></i> App Store</a>
                                    <a href="https://play.google.com/store/apps/details?id=giz.com.iste_hr" target="_blank" class="btn button button-hollow icon-left"><i class='bx bxl-android'></i> Google Play</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="footer-text-content">
                                <div class="contact-list contact-list-single">
                                    <ul class="list list-unstyled">
                                        <li class="list-item">
                                            <p><strong>Adres</strong></p>
                                            <p>
                                                <i class='bx bxs-map'></i>
                                                <a href="https://goo.gl/maps/kAPPZBvvb4YMtsVn6" target="_blank" rel="nofollow">Gülsuyu, Kat:2, Fevzi Çakmak Cd. No:1, 34848 Maltepe/İstanbul</a>
                                            </p>
                                        </li>
                                        <li class="list-item">
                                            <p><strong>Telefon</strong></p>
                                            <p>
                                                <i class='bx bxs-phone' ></i>
                                                <a href="tel:+1-123-456-7890 target='_blank' rel='nofollow'">(216) 444 6 449</a>
                                            </p>
                                        </li>
                                        <li class="list-item">
                                            <p><strong>E-Posta</strong></p>
                                            <p>
                                                <i class='bx bxs-envelope' ></i>
                                                <a href="mailto:support@5studios.net">info@giz.com.tr</a>                                            
                                            </p>
                                        </li>
                                        <li class="socail-item">
                                            <div class="socail">
                                                <a href="https://www.facebook.com/gizsoft/?locale=tr_TR" target="_blank"><i class='bx bxl-facebook' role="button"></i></a>                                       
                                                <a href="https://www.instagram.com/gizsoft" target="_blank"><i class='bx bxl-instagram-alt' role="button"></i></a>
                                                <a href="https://www.twitter.com/gizsoft" target="_blank"><i class='bx bxl-twitter' role="button"></i></a>
                                                <a href="https://www.linkedin.com/company/istehr/" target="_blank"><i class='bx bxl-linkedin' role="button"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="footer-copyrights">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-6">
                            <div class="copy-rights">
                                <p>Copyrights © 2023. Tüm Hakları </p>
                                <a href="#"><img src="assets/css/img/istehr-logo.png" alt=""></a>
                                <p>Tarafından Saklıdır.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="company-logo">
                                <p>
                                    İştehr bir 
                                   <a href="https://www.giz.com.tr/" target="_blank"><img src="assets/css/img/logo-dark.png" alt=""></a>
                                    grup şirketidir.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Js source -->
        <script src="assets/plugins/owlcarousel/jquery.min.js"></script>
        <script src="assets/plugins/owlcarousel/owl.carousel.min.js"></script>
        <script src="assets/plugins/js/bootstrap.bundle.min.js"></script>
        <script src="assets/plugins/aos/aos.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>